img {
  width: 500px;
}

.image-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: #f0f0f0;
  padding: 5px;
}

.image-container .candles {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.candle1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 570px;
}

.diffusers img{
  height: 555px;
}

.others img{
  width: 750px;
  height: 250px;
}

img:hover {
  transform: scaleX(-1);
}

img {
  border-radius: 5%;
  opacity: 0.8;
}