<br />
<br />
<br />
<div class="image-container candles">
  <img class="candle1" src="assets/Picture.jpg" alt="Image" />
  <img class="candle2" src="assets/Picture.jpg" alt="Image" />
  <img class="candle3" src="assets/Picture.jpg" alt="Image" />
  <img class="candle4" src="assets/Picture.jpg" alt="Image" />
  <img class="candle5" src="assets/Picture.jpg" alt="Image" />
</div>
<h4>CANDLES</h4>
<br />

<div class="image-container diffusers">
  <img class="diffuser1" src="assets/Picture.jpg" alt="Image" />
  <img class="diffuser2" src="assets/Picture.jpg" alt="Image" />
  <img class="diffuser3" src="assets/Picture.jpg" alt="Image" />
</div>
<h4>DIFFUSERS</h4>
<br />

<div class="image-container aromasticks">
  <img class="aromastick1" src="assets/Picture.jpg" alt="Image" />
  <img class="aromastick2" src="assets/Picture.jpg" alt="Image" />
  <img class="aromastick3" src="assets/Picture.jpg" alt="Image" />
  <img class="aromastick4" src="assets/Picture.jpg" alt="Image" />
  <img class="aromastick5" src="assets/Picture.jpg" alt="Image" />
  <img class="aromastick6" src="assets/Picture.jpg" alt="Image" />
</div>
<h4>AROMA STICKS</h4>
<br />

<div class="image-container others">
  <img class="other1" src="assets/Picture.jpg" alt="Image" />
  <img class="other2" src="assets/Picture.jpg" alt="Image" />
</div>
<h4>OTHERS</h4>
<br />
