.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
