<header class="header-component">
    <h1>Online Shop</h1>

    <div class="row gap-1">
        <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a>
        <a routerLink="/candles" routerLinkActive="active">Candles</a>
        <a routerLink="/diffusers" routerLinkActive="active">Diffusers</a>
        <a routerLink="/aroma-sticks" routerLinkActive="active">Aroma Sticks</a>
        <a routerLink="/others" routerLinkActive="active">Other</a>
        <a routerLink="/about-us" routerLinkActive="active">About us</a>
    </div>
  </header>
